<div>Topic: <%= @dream.topic %></div>
<div>Body: <%= @dream.body %></div>
<div>Rating: <%= @dream.rating %></div>
<div>Scary?: <%= @dream.scary %></div>
<div>Freudian?: <%= @dream.Freudian %></div>
<div><%= image_tag @dream.image_url, width: '600' %></div>